{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body style="background-color: #2aacea;">
    <div class="navbar"></div>
    <div class="bone" style="background-color: #2aacea;">
        <div class="leftcontain">
            <div class="wrapper">
                <div class="text-center">

                        <h1 class="title" style="margin-bottom: 5px;"><form method="post"> <label for="keywords">FILTER</label> </form></h1>
                        <i> ENTER YOUR KEYWORDS</i>
                        <p><input type=text" id="TAGS"></input></p>
                </div>
                <div class="text-center">
                    <h1 class="title">POSITION</h1>
                    <i>ENTER POSITION FOR HIRING </i>
                    <p><input type="text" id="TAGS"></input></p>
                </div>
                <div class="text-center">
                    <h1 class="title">EXPIRIENCE</h1>
                    <i>ENTER EXPIRIENCE YOU NEED </i>
                    <p><input type="tele" id="TAGS"></input></p>
                </div>
                <div class="text-center">
                    <h1 class="title">CGPA</h1>
                    <i>CGPA SHOULD BE MORE THAN </i>
                    <p><input type="tele" id="TAGS"></input></p>
                    <a herf="{}"><button>
                                SUBMIT 
                    <div class="arrow-wrapper">
                        <div class="arrow"></div>
                    </div>
                        </button></a>
            
                </div>
            </div>    
        </div>
        <div class="midcontain"><span style="font-size: 34px; color: blue;">SHORTLISTED CANDIDATES</span><br><ul>

        </ul></div>
        <div class="rightcontain"> <span style="font-size: 34px; color: blue;">AI Suggestions</span><br>
        <!-- Start of ChatBot (www.chatbot.com) code -->
<script type="text/javascript">
    window.__be = window.__be || {};
    window.__be.id = "662c656ba51f140007e94897";
    (function() {
        var be = document.createElement('script'); be.type = 'text/javascript'; be.async = true;
        be.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.chatbot.com/widget/plugin.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(be, s);
    })();
</script>
<noscript>You need to <a href="https://www.chatbot.com/help/chat-widget/enable-javascript-in-your-browser/" rel="noopener nofollow">enable JavaScript</a> in order to use the AI chatbot tool powered by <a href="https://www.chatbot.com/" rel="noopener nofollow" target="_blank">ChatBot</a></noscript>
<!-- End of ChatBot code -->
        </div>
    <div>
    
</body>
</html>