{%load static%}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/resume.css' %}">
    <link rel="stylesheet" href="../static/css/resume.css">

</head>
<body>
    <div class="back">
        <a href="/"><img src="../static/assets/rocket.png" alt=""></a>
        
    </div>
    <div class="form-container">
        <p class="title">UPLOAD YOUR RESUME </p>
        <form class="form" method="POST" enctype="multipart/form-data" action="{% url 'thank' %}" enctype="multipart/form-data" >{% csrf_token %}
            
            <div class="input-group">
                <label for="username">Full Name:</label>
                <input type="text" id="name" name="name" placeholder="Enter your full name">
            </div>
            <div class="input-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Enter your email">
            </div>
            <div class="input-group">
                <label for="number">Phone No.:</label>
                <input type="tel" id="number" name="phone" placeholder="Enter your phone number">
            </div>
            <div class="input-group">
                <label for="file">Resume </label>
                <input type="file" id="file" name="resume" placeholder="pdf,doc,docx">
            </div>
            <a href="{% url 'thank' %}"><button type="submit" class="sign">SUBMIT</button></a>
        </form>
    </div>
</body>
</html>