{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THANKYOU!!</title>
    <link rel="stylesheet" href="../static/css/thanku.css">
</head>
<body>
    <nav  style="margin-top: 0%;">
        <div class="thank-you-section">
            <img src="../static/assets/thankuimage.jpeg"  height="100PX" weight="100PX"  alt="thanku"> 
            <h1>Thank You! Your application has been submitted!</h1>
            <p>The HR will contact you soon</p>
            <p>Best Regards,</p>
            <p  class="hireme-ai"> HireMe.AI</p>
        </div>
    </nav>
    <div class="bone">
        <nav style="color: black; margin-left: 550PX;margin-top: 100PX; "><h1>EXPLORE COURSES</h1></nav>
        <nav  style="color: black; margin-left: 610px;"> <h3>Upskill Yourself !!</h3></nav>
        
        <div class="container">
            <div class="plan">
                <div class="inner">
                    <span class="pricing">s
                        <span>
                            $49 <small>/ m</small>
                        </span>
                    </span>
                    <p class="title">Professional</p>
                    <p class="info">This plan is for those who have a team already and running a large business.</p>
                    <ul class="features">
                        <li>
                            <span class="icon">
                                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                    <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                                </svg>
                            </span>
                            <span><strong>20</strong> team members</span>
                        </li>
                        <li>
                            <span class="icon">
                                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                    <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                                </svg>
                            </span>
                            <span>Plan <strong>team meetings</strong></span>
                        </li>
                        <li>
                            <span class="icon">
                                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                    <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                                </svg>
                            </span>
                            <span>File sharing</span>
                        </li>
                    </ul>
                    <div class="action">
                    <a class="button" href="#">
                        Choose plan
                    </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="plan">
                <div class="inner">
                    <span class="pricing">
                        <span>
                            $49 <small>/ m</small>
                        </span>
                    </span>
                    <p class="title">Professional</p>
                    <p class="info">This plan is for those who have a team already and running a large business.</p>
                    <ul class="features">
                        <li>
                            <span class="icon">
                                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                    <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                                </svg>
                            </span>
                            <span><strong>20</strong> team members</span>
                        </li>
                        <li>
                            <span class="icon">
                                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                    <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                                </svg>
                            </span>
                            <span>Plan <strong>team meetings</strong></span>
                        </li>
                        <li>
                            <span class="icon">
                                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                    <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                                </svg>
                            </span>
                            <span>File sharing</span>
                        </li>
                    </ul>
                    <div class="action">
                    <a class="button" href="#">
                        Choose plan
                    </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="plan">
                <div class="inner">
                    <span class="pricing">
                        <span>
                            $49 <small>/ m</small>
                        </span>
                    </span>
                    <p class="title">Professional</p>
                    <p class="info">This plan is for those who have a team already and running a large business.</p>
                    <ul class="features">
                        <li>
                            <span class="icon">
                                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                    <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                                </svg>
                            </span>
                            <span><strong>20</strong> team members</span>
                        </li>
                        <li>
                            <span class="icon">
                                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                    <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                                </svg>
                            </span>
                            <span>Plan <strong>team meetings</strong></span>
                        </li>
                        <li>
                            <span class="icon">
                                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                    <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                                </svg>
                            </span>
                            <span>File sharing</span>
                        </li>
                    </ul>
                    <div class="action">
                    <a class="button" href="#">
                        Choose plan
                    </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="plan">
                <div class="inner">
                    <span class="pricing">
                        <span>
                            $49 <small>/ m</small>
                        </span>
                    </span>
                    <p class="title">Professional</p>
                    <p class="info">This plan is for those who have a team already and running a large business.</p>
                    <ul class="features">
                        <li>
                            <span class="icon">
                                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                    <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                                </svg>
                            </span>
                            <span><strong>20</strong> team members</span>
                        </li>
                        <li>
                            <span class="icon">
                                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                    <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                                </svg>
                            </span>
                            <span>Plan <strong>team meetings</strong></span>
                        </li>
                        <li>
                            <span class="icon">
                                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                    <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                                </svg>
                            </span>
                            <span>File sharing</span>
                        </li>
                    </ul>
                    <div class="action">
                    <a class="button" href="#">
                        Choose plan
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>