<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="resume.css">
</head>
<body>
    <div class="form-container">
        <p class="title">UPLOAD YOUR RESUME </p>
        <form class="form">
            <div class="input-group">
                <label for="username">Full Name:</label>
                <input type="text" id="username" name="username" placeholder="Enter your full name">
            </div>
            <div class="input-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Enter your email">
            </div>
            <div class="input-group">
                <label for="number">Phone No.:</label>
                <input type="tel" id="number" name="number" placeholder="Enter your phone number">
            </div>
            <div class="input-group">
                <label for="file">Resume </label>
                <input type="file" id="file" name="resume" placeholder="pdf,doc,docx">
            </div>
            <button type="submit" class="sign">SUBMIT</button>
        </form>
    </div>
</body>
</html>